.containerhome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.title{
  font-size: 3rem;
  margin-bottom: .5rem;  
}

.containerhome span{
  margin-bottom: 1.5rem;
}
.formulario{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
}

.formulario input{
  margin-bottom: 1rem;
  height: 2.5rem;
  border-radius: 4px;
  padding: 0 .5rem;
}
.formulario button{
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  background-color: #36ff;
}
.link{
  text-decoration: none;
  margin-top: 1rem;
  color: #000;
  
}

.area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.formFoto{
  width: 100%;
  max-width: 600px;
  margin: 1rem 0;
}

.labelAvatar{
  min-width: 100%;
  height: 400px;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #000;
  margin-bottom: 1rem;
}
.labelAvatar input{
  display: none;
}

.labelAvatar span{  
  z-index: 99;
  position: absolute;
  opacity: 0.5;
  transition: all 0.5s;
}

.labelAvatar span:hover{
  transform: scale(1.2);
  opacity: 1;
}
.labelAvatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formulario button{
  cursor: pointer;
}