.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
}
.container h1{
  margin: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 100%;
  max-width: 928px;
}

.container h1::before{
  content: '';
  flex: 1;
  height: 1px;
  background: #000;
  display: block;
}
.container h1::after{
  content: '';
  height: 1px;
  background: #000;
  flex: 1;
}


.lista{
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  margin-top: 1rem;
  background-color: cadetblue;
  padding: .5rem;
}

.lista button{
  margin-left: 1rem;
  cursor: pointer;
}

.container > button{
  margin-top: 1rem;
}